<!DOCTYPE html>
<html>
  <head>
    <title>Admin</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'backend', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'backend', 'data-turbolinks-track': 'reload' %>

  </head>

 <body>
  <%= render 'includes/admin/navigation'%>

      <!-- Breadcrumbs-->
      <!-- <%# <%= render 'includes/admin/breadcrumb'%> %> -->
      <%= render 'includes/flash_messages' %>

      <!-- Icon Cards-->
      <%= yield %>


    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    <%= render 'includes/admin/footer' %>
    <!-- Scroll to Top Button-->
    <%= render 'includes/admin/logout_modal'%>



  </body>
</html>
